.content-wrapper {
  padding : 0px 0px;
  margin  : 0px 0px;
}

.home-splash {
  height: 80vh;
  width: 100%;
  background: url('../images/splash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.course-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  .card-image-top {
    height: 200px;
    overflow: hidden;
  }
  .course-org {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
.course-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media only screen and (min-width:0px) and (max-width:767px){
  .border-left{
    border-left: 0 solid !important
  }
}

.course-about {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bg-dark {
  background-color: #3C6478 !important;
}
.navbar-dark {
  color: #FFF !important;
}

@mixin header-label() {
  background-color: #3C6478;
  min-height: 2.5em;
  width: 80%;
  line-height: 2em;
  display: flex;
  align-items: flex-end;
  left: -1em;
  position: relative;
  padding-left: 1em;
  color: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*
 * Fondo gris : #f5f5f5
 * Sombra     : box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.1);
 */

.course-overview {
  h2 {
    @include header-label();
  }
  section {
    margin-bottom: 2em;
  }
  .course-header {

  }
  .long-description {

  }
  .prerequisites {

  }
  .course-staff {
    .teacher{
      .teacher-image{
        img {
          min-width: 100px;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }
  }
  .faq {

  }
}

[v-cloak] {
  display: none;
}

.main-container {
  padding-top: 86px;
}
