// Fix lms ugly inputs
textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  height: auto;
  box-shadow: none;
  font: 1rem/1.5 var(--font-family-sans-serif);
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }
}
input[type="submit"],
input[type="button"],
button,
.button {
  background-image: none;
}
input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
button:hover:not(:disabled),
.button:hover:not(:disabled) {
  background-image: none;
}

.container,
section.outside-app,
.view-profile
.profile-self
.wrapper-profile-field-account-privacy
.u-field-account_privacy,
.view-profile
.wrapper-profile-sections,
.view-profile
.badge-set-display {
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

.course-profile {
  height: auto !important;
}
