<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section>
    <div class="container" id="Vcourses" v-cloak>
      <h1>{{title}}</h1>
      <div class="row mb-3">
        <div class="col-12">
          <form v-on:submit.prevent=""></form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="${_('Search for a course')}"
                v-on:keyup.enter="getCourses"
                v-model="input"/>
              <span class="input-group-append">
                <button class="btn btn-info" type="button" v-on:click="getCourses">
                  <i class="fa fa-search fa-fw"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="row mb-3" v-if="query!=''">
        <div class="col-12">
          <span class="badge badge-info">
            {{ query }}
            <i class="fa fa-times fa-fw" v-on:click="clearQuery"></i>
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <b>{{ courses.length }} ${_("Courses")}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3" v-for="c in courses">
          <div class="card course-card">
            <img
              class="card-img-top"
              v-bind:src="c.data.image_url"
              v-bind:alt="c.data.content.display_name+' ('+c.data.content.number+')'"
              onerror="this.src='/static/educativ/images/default-banner.jpg'">
            <div class="card-body">
              <h5 class="card-title">
                <span class="small">
                  {{ c.data.content.number }}
                </span><br/>
                {{ c.data.content.display_name }}
              </h5>
              <p class="card-text">
                <a v-bind:href="'/courses/'+c.data.id+'/about'" class="btn btn-primary">
                  ${_("LEARN MORE")}
                </a><br/>
                <span class="small">
                  ${_("Starts")}: {{ moment(c.data.start).format('DD-MM-YYYY') }}
                </span>
              </p>
            </div>
            <span class="badge badge-success course-org">
              {{ c.data.org }}
            </span>

            <div class="sr">
              <ul>
                <li>{{ c.data.org }}</li>
                <li>{{ c.data.content.number }}</li>
                <li>${_("Starts")}:  {{ moment(c.data.start).format('DD-MM-YYYY') }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/vue-cookies@1.5.5/vue-cookies.js"></script>
    <script>
    const coursesApp = new Vue({
      el: "#Vcourses",
      data: {
        title   : "${_('Courses')}",
        input   : "",
        query   : "",
        courses : []
      },
      methods: {
        getCourses: function () {
          this.query = this.input;
          this.input = "";

          var formData = new FormData();
          formData.append('page_index', '0');
          formData.append('page_size', '20');
          formData.append('search_string', this.query);
          this.$http.post('/search/course_discovery/', formData, {
            emulateJSON: true,
            headers: {
              'X-CSRFToken':this.$cookies.get('csrftoken')
            }
          }).then(
            response => {
              console.log(response.body);
              this.courses = response.body.results;
            },
            error => {
              console.log(error);
            }
          );
        },
        clearQuery: function () {
          this.query = "";
          this.getCourses();
        }
      }
    });
    coursesApp.getCourses();
    </script>
  </section>
</main>
