<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>
<%page args="course" expression_filter="h"/>
<div class="col-md-4">
    <div class="card course-card">
			<img
        class="card-img-top"
        src="${course.course_image_url}"
        alt="${course.display_name_with_default} ${course.display_number_with_default}"
        onerror="this.src='/static/educativ/images/default-banner.jpg'">
			<div class="card-body">
				<h5 class="card-title">
          <span class="small">
            ${course.display_number_with_default}
          </span><br/>
          ${course.display_name_with_default}
        </h5>
				<p class="card-text">
          <!-- Añadir una descripción del curso -->
          <div class="course-date">
            <%
            if course.start is not None:
                course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
            else:
                course_date_string = ''
            %>
            % if course.advertised_start is not None:
                <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.advertised_start}</div>
            % else:
                <div class="course-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-string="${_("Starts: {date}")}"></div>
            % endif
          </div>
        </p>
				<a href="${reverse('about_course', args=[text_type(course.id)])}" class="btn btn-primary">
          ${_("LEARN MORE")}
        </a>
			</div>
      <span class="badge badge-success course-org">
        ${course.display_org_with_default}
      </span>

      <div class="sr">
        <ul>
          <li>${course.display_org_with_default}</li>
          <li>${course.display_number_with_default}</li>
          % if course.advertised_start is not None:
              <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
          % else:
              <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}"></time></li>
          % endif
        </ul>
      </div>
		</div>
</div>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
