## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
%>

<nav class="navbar fixed-top navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand"  href="${marketing_link('ROOT')}">
    <img
      src="/static/educativ/images/logo-white.png"
      alt="${_('{platform_name} Home Page').format(platform_name=static.get_platform_name())}"/>
  </a>

   <!-- Toggler/collapsibe Button -->
   <button class="btn btn-outline-light navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
   </button>

   <!-- Navbar links -->
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav">
       <li class="nav-item">
         <a href="/courses" class="nav-link">${_("Courses")}</a>
       </li>
     </ul>
     <ul class="navbar-nav ml-auto">
       % if user.is_authenticated():
         <%
           username = user.username
           profile_image_url = get_profile_image_urls_for_user(user)['medium']
         %>
         <li class="nav-item">
           <span class="user-img"><img src="${profile_image_url}" alt=""/></span>
           <span class="user-name">${username}</span>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="${reverse('dashboard')}">${_("Dashboard")}</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("Profile")}</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="${reverse('account_settings')}">${_("Account")}</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="${reverse('logout')}">${_("Sign Out")}</a>
         </li>
       % else:
         <li class="nav-item">
           <a class="nav-link" href="/register${login_query()}">${_("Create Account")}</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/login${login_query()}">${_("Sign in")}</a>
         </li>
       % endif
     </ul>
   </div>
</nav>
