<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<header class="home-splash pt-5 pb-5 mt-0 align-items-center d-flex bg-dark">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center d-flex text-center h-100">
      <div class="col-12 col-md-8  h-50 ">
        <h1 class="display-2 text-light mb-2 mt-5">
          <strong>${platform_name}</strong>
        </h1>
        <p class="lead text-light mb-5">
          Tema para Open edX con Bootstrap 4
        </p>
        <p>
          <a href="/courses" class="btn bg-primary btn-round text-light btn-lg btn-raised">
            ¡Descubre los cursos!<br/>
            <i class="fa fa-chalkboard-teacher fa-fw fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</header>
