<!DOCTYPE html>
{% load sekizai_tags i18n configuration theme_pipeline optional_include staticfiles %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ platform_name }}{% endblock %}</title>

  <link rel="icon" type="image/x-icon" href="{% favicon_path %}" />

  {% with "js/i18n/"|add:LANGUAGE_CODE|add:"/djangojs.js" as i18njs_path %}
    <script type="text/javascript" src="{% static i18njs_path %}"></script>
  {% endwith %}

  {% stylesheet 'style-vendor' %}
  {% stylesheet 'style-main-v1' %}

  {% block main_vendor_js %}
  {% javascript 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

  {% optional_include "head-extra.html"|microsite_template_path %}

  <link rel="stylesheet" href="/static/educativ/css/educativ.css" type="text/css" media="all">
  <link rel="stylesheet" href="/static/educativ/fonts/fontawesome/css/all.min.css" type="text/css" media="all">
  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
    {% load render_bundle from webpack_loader %}
    {% render_bundle "commons" %}
  <div class="window-wrap" dir="{{LANGUAGE_BIDI|yesno:'rtl,ltr'}}">
    <a class="nav-skip" href="#main">{% trans "Skip to main content" %}</a>
    {% with course=request.course %}
      {% include "header.html"|microsite_template_path with online_help_token=online_help_token  %}
    {% endwith %}
    <div class="content-wrapper" id="content">
      {% block body %}{% endblock %}
      {% block bodyextra %}{% endblock %}
    </div>
    {% with course=request.course %}
      {% include "footer.html"|microsite_template_path %}
    {% endwith %}

  </div>

    {% javascript 'base_application' %}

    {% render_block "js" %}
</body>
</html>
